<style>

  html, body {
        margin: 0;
        border: 0;
        width: 100%;
    }

    body {
        padding: 0 10%;
    }
    #main {
        margin: 0 auto; 
    }
    #panelb {
    	background-color:#F5DEB3;
    }
